button:hover{
    background-color: #09A15C;
}
body button:hover{
    background-color: red;
    box-shadow: 2px 2px blue;
    color: aqua;
}

.flex1{
     display: flex;
     align-items: center;
     justify-content: space-around;
}

 .first{
    height: 300px;
    width: 280px;
    background-color: #99b2dc;
    padding: 80px;
    border-radius: 10px; }  

.second{
    height: 300px;
    width: 280px;
    background-color: #09A15C;
    padding: 80px;
    border-radius: 10px; }

.third{
        height: 300px;
        width: 280px;
        background-color: #F7EBCF;
        padding: 80px;
        border-radius: 10px; }